

header,
footer{
    margin: 0;
    background-color: #96e5dd;
    color: rgb(20, 2, 2);    
    box-shadow: 0 2px 0px rgba(1, 39, 70, 0.162);
    border-radius: 2px;
    padding: 0px 16px;
    
}

header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
footer{
    text-align: center;
}

.resaltado{
    color: rgb(63, 28, 28);;
}

.header-logo{
    width: auto;
}

.header-nav{
    width: auto;    
}

header ul{
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

header li{
    list-style-type: none;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.bienvenida {
    min-height: 100vh;          /* que ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center;    /* centro horizontal */
    align-items: center;
    background-image: url("../img/fondo.jpg");  /* ruta de tu imagen */
    background-size: cover;                  /* que cubra toda la pantalla */
    background-position: center;             /* que se centre */
    background-repeat: no-repeat;
}

.pagina-bienvenida {
    text-align: center;    
    background: #ffffffd0;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #96e5dd;
    border: 2px, solid;

}

#contenedorTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #95af98;
    color: rgb(37, 37, 160);

}

#bienvenidaUsuario {
    padding-top: 20px;
}

.botonera-ordenar {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: #95af98;   
}

.boton-ordenar {
    padding: 10px;
    border-radius: 5px;
    background-color: #030e2c;
    color: rgb(220, 211, 211);
    cursor: pointer;
}

.card-producto img{
    width: 250px;
    height: 250px;
}

.card-producto{
    padding: 5px;
    width: 250px;
    /* height: 250px; */
    box-shadow: rgba(21, 17, 17, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    background-color: #b2cba2;
    margin-bottom: 0;
}

.botonera-agregar-carrito {
    color: rgb(51, 31, 85);
    padding: 12px 24px; /* alto | ancho */
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    background-color: #efdbd9;
}

#drawerCarrito {
    position: fixed;
    top: 0;
    right: -350px;  /* Oculto fuera de la pantalla */
    width: 350px;
    height: 100vh;
    background-color: #f6eeed;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 9999;
}

.bloque-item img{
    width: 50px;
    height: 50px;
}

.bloque-item {
    margin-top: 20px;
    display: flex;          /* Necesario */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* (opcional) centra verticalmente */
    gap: 10px;              /* (opcional) separa los elementos dentro */   
    flex-direction: column;
}

/* Cuando se abre */
#drawerCarrito.open {
    right: 0;
}

#contadorCarrito {
    font-size: large;
    color: darkblue;
}

/* #bedfe4 */

.btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-carrito {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;       /* usa la misma fuente del <li> */
    color: rgb(84, 12, 12);     /* usa el mismo color del texto */
}

.saludo-container {
    font-size: 0.95rem;
    color: #222;
}

/* Si usás .btn-carrito para el botón salir y querés que no tenga estilo: */
#btnSalir {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: rgb(84, 12, 12);
}
#btnSalir:focus { outline: none; }

#contadorCarrito {
    margin-top: 20px;
    margin-bottom: 5px; /* o el valor que quieras */
}


.contenedor-carrito-encabezado {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contenedorCarrito {
    gap: 15px;
}

.boton-eliminar {
    
    color: rgb(51, 31, 85);
    padding: 12px 24px; /* alto | ancho */
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    background-color: #efdbd9;
}

.boton-vaciar {
    color: rgb(207, 198, 224);
    background-color: #623b59;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

.total-precio {
   
    text-align: right;
    justify-content: flex-start; /* Si es flex container */
    margin-right: 8px;
    color: #43203b;
}

.imprimir-ticket {
   display: flex;
   justify-content: center;
}

#btn-imprimir {
    margin-top: 15px;
    background-color: #9b352c;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

aside {
    overflow-y: auto;   /* Activa scroll vertical */
}
